name: Deploy Pawning Backend to DigitalOcean

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          script: |
            cd /var/www/apps/node/Pawning_System_Backend

            # Set up SSH agent and add the GitHub SSH key with passphrase
            eval $(ssh-agent -s)
            echo "${{ secrets.SSH_KEY_PASSPHRASE }}" | SSH_ASKPASS_REQUIRE=never ssh-add ~/.ssh/id_ed25519_github_soap

            # Use the SSH key for git operations
            GIT_SSH_COMMAND="ssh -i ~/.ssh/id_ed25519_github_soap -o IdentitiesOnly=yes" git pull origin main

            # Clean up ssh-agent
            ssh-agent -k

            npm install --production

            # Restart the docker container
            docker restart pawning_backend
